.giphy-surprise {
  position: relative;
}

.giphy-gif {
  display: flex;
  justify-content: center;
}

.blank-tile {
  width: 90px;
  margin: 180px 0;
  z-index: 20;
  &:hover,
  &:focus {
    animation: wiggle 300ms infinite;
    animation-timing-function: linear;
    cursor: pointer;
  }
}

@keyframes wiggle {
  0% {
    transform: translate(2px, 0);
  }
  50% {
    transform: translate(-2px, 0);  
  }
  100% {
    transform: translate(2px, 0);
  }
}

.gif-styles {
  max-height: 700px;
  min-height: 500px;
}

.scrabble-stack {
  position: absolute;
  bottom: 0;
  right: 0;
}

.scrabble-stack-tablet {
  position: absolute;
  display: none;
  z-index: -10;
}