header {
  background-image: url(../assets/header-image1.jpg);
  background-size: cover;
  background-position-y: bottom 30%;
}

header h1 {
  @include h1;
  padding: 30vh 0;
  height: 100%;
  position: relative;
}

h1 span {
  display: block;
}

.scrabble-w {
  position: absolute;
  width: 123px;
  top: 28vh;
  left: -37px;
  rotate: -4deg;
}

.scrabble-d {
  position: absolute;
  width: 76px;
  bottom: 30vh;
  left: -17px;
  rotate: 3deg;
}