@media (max-width: 940px) {
  header {
    background-position: center;
  }

  .form-about {
    flex-direction: column-reverse;
  }

  fieldset {
    margin: 0 auto;
  }

  .about {
    width: auto;
  }

  .about h2 {
    margin: 0 auto;
    padding-top: 20px;
  }

  .about p {
    padding: 40px 0;
  }

  .word-form {
    padding-bottom: 58px;
  }

  .word-container::before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  h3 {
    padding: 15px 0;
  }

  .scrabble-stack {
    position: absolute;
    display: none;
    z-index: -10;
  }

  .scrabble-stack-tablet {
    position: absolute;
    bottom: 0;
    right: -133px;
    z-index: 0;
    display: initial;
    clip: rect(auto, 261px, auto, auto);
  }

  .blank-tile {
    margin-top: 120px;
  }

  .giphy-surprise {
    height: 400px;
  }

  .gif-styles {
    max-height: 400px;
    min-height: 400px;
  }
}

@media (max-width: 500px) {
  header {
    background-position-x: right 45%;
  }

  header h1 {
    padding: 15vh 0 30vh 0;
  }

  .scrabble-w {
    top: 13vh;
  }

  .wrapper {
    width: 85%;
  }

  .about p {
    text-align: center;
    line-height: 30px;
  }

  fieldset {
    width: 100%;
  }

  .radio-container {
    font-size: 1.5rem;
  }

  label {
    margin: 15px 0;
  }

  .new-radio {
    height: 20px;
    width: 20px;
  }

  .radio-container .new-radio::after {
    top: 6px;
    left: 6px;
  }

  h3 {
    font-size: 2rem;
  }

  #definition,
  #synonym {
    font-weight: 700;
  }

  #definition {
    font-size: 1.5rem;
  }

  .scrabble-stack-tablet {
    display: none;
  }

  .giphy-surprise {
    height: 300px;
  }

  .gif-styles {
    max-height: 300px;
    min-height: 300px;
  }
}