@media (max-width: 940px) {
  header {
    background-position: center;
  }

  .form-about {
    flex-direction: column-reverse;
  }

  fieldset {
    margin: 0 auto;
  }

  .about {
    width: auto;
  }

  .about h2 {
    margin: 0 auto;
    padding-top: 20px;
  }

  .about p {
    padding: 40px 0;
  }

  .word-form {
    padding-bottom: 58px;
  }

  .word-container::before {
    top: 50px;
    right: 100px;
    bottom: 50px;
    left: 100px;
  }

  .scrabble-stack {
    position: absolute;
    display: none;
    z-index: -10;
  }

  .scrabble-stack-tablet {
    position: absolute;
    bottom: 0;
    right: -133px;
    z-index: 0;
    display: initial;
  }

  .blank-tile {
    padding: 0;
    padding-top: 67px;
  }

  .giphy-surprise {
    height: 400px;
  }

  .gif-styles {
    max-height: 400px;
    min-height: 400px;
  }
}